<!-- Description: This is the navbar for the website. It is included in all pages. -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <h2 class="d-none">Navbar</h2>
    <a class="navbar-brand" href="../../index.html"><img src="/resources/logo.png" alt="TechCare Solutions logo"
                                                         width="73"
                                                         height="30"></a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a id="navbarHome" class="nav-link" href="../../index.html">Home</a>
            </li>
            <li class="nav-item">
                <a id="navbarAbout" class="nav-link" href="about.html">About</a>
            </li>
            <li class="nav-item dropdown">
                <a id="portfolioDropdown" class="nav-link dropdown-toggle" href="portfolio.html" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Portfolio
                </a>
                <div class="dropdown-menu" aria-labelledby="portfolioDropdown">
                    <a class="dropdown-item" href="#">Project</a>
                    <a class="dropdown-item" href="#">Project2</a>
                    <div class="dropdown-divider"></div>
                    <a id="navbarOtherProjects" class="dropdown-item" href="portfolio.html">Other projects</a>
                </div>
            </li>
            <li class="nav-item">
                <a id="navbarServices" class="nav-link" href="services.html">Services</a>
            </li>
            <li class="nav-item">
                <a id="navbarContact" class="nav-link" href="contact.html">Contact</a>
            </li>
        </ul>
    </div>
</nav>